* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header h3 {
  margin: 0;
}

h4 {
  margin: 0;
  padding: 5px 5px;
}

p {
  font-size: 30px;
}
